@inject IProductService ProductService




@if(ProductService.Products == null || ProductService.Products.Count == 0)
{
	<MudProgressCircular Indeterminate="true" />

}
else{


<MudPaper Width="600px">
	<MudList>
		@foreach (var product in ProductService.Products)
		{
			<MudListItem class="title" Text="@product.Title"/>
			<a href="/product/@product.Id" target="_blank">
			<MudImage id="img" Src="@product.Image" Alt="@product.Title" Elevation="25" Width="200" />
			</a>
			<MudListItem Text="@product.Description" />
			<MudListItem class="price" Text="@product.Price.ToString()" />

		}
	</MudList>
</MudPaper>
}

<style type="text/css">


	#img {
		transition: transform .2s;
	}

	#img:hover {
		transform: scale(1.1);
	}

	.title {
		font-size: 30px;
		font-style: oblique;
		background-color: lavender;
		margin-bottom: 20px;
	}
</style>
@code {
	protected override async Task OnInitializedAsync()
	{
		await ProductService.GetProducts();
	}
	
		
	
}
